<div class="PAGE">
    <title-bar (click)="APP.navigate('carBrands')" [title_content]="'Wróć'" [title_mode]="'SMALL'"/>
    <text-input [value]="brand_name" (valueChange)="handleCarNameInputEmit($event)" [title]="'Nazwa marki'"/>
    <logo-picker />
    <btn (click)="saveBrand()" [btn_type]="btn_type" [border_radius_in_vw]="border_dimenions.border_radius" [width_in_vw]="border_dimenions.width" [height_in_vw]="border_dimenions.height">
        @if (data_fetching) {
            <loader [size]="border_dimenions.height*1.5" [white_border]="true"/>
        } @else if (error) {
            BŁĄD
        } @else {
            ZAPISZ
        }
    </btn>
</div>