<div class="COMPONENT">
    <p class="TITLE">Dane silnika spalinowego</p>
    <number-input
        [title]="'Pojemność silnika'"
        [type]="'buttons'"
        [show_fast_btns]="true"
        [value]="car_data.engine.combustion.volume"
        [fast_btns_settings]="{ first_amount: 2, second_amount: 5 }"
        [precision]="1"
        (valueChange)="handleInputChange('engine_volume', $event)"
    />
    <select-input
        [title]="'Rozkład silnika'"
        [select_list]="combustion_engine_types"
        [show_empty_opt]="false"
        [input_selected_item]="engine_type_selected_index"
        (selected_item)="handleInputChange('engine_type', $event)"
    />
    <number-input
        [type]="'buttons'"
        [value]="car_data.engine.combustion.pistonAmount"
        [minValue]="0"
        [title]="'Ilość tłoków'"
        (valueChange)="handleInputChange('pistion_amount', $event)"
    />
    <select-input
        [title]="'Rodzaj paliwa'"
        [select_list]="fuel_type"
        [input_selected_item]="fuel_type_selected_index"
        [show_empty_opt]="false"
        (selected_item)="handleInputChange('fuel_type', $event)"
    />
    <number-input
        [type]="'buttons'"
        [value]="car_data.engine.combustion.fuelTankVolume"
        [show_fast_btns]="true"
        [fast_btns_settings]="{ first_amount: 5, second_amount: 25 }"
        [minValue]="0"
        [title]="'Pojemność baku paliwa'"
        (valueChange)="handleInputChange('fuel_tank_volume', $event)"
    />
    <number-input
        [type]="'buttons'"
        [show_fast_btns]="true"
        [value]="car_data.engine.combustion.avgFuelUsage"
        [fast_btns_settings]="{ first_amount: 2.5, second_amount: 10 }"
        [minValue]="0"
        [precision]="1"
        [title]="'Średnie spalanie'"
        (valueChange)="handleInputChange('avg_fuel_usage', $event)"
    />
    <number-input
        [type]="'buttons'"
        [show_fast_btns]="true"
        [fast_btns_settings]="{ first_amount: 10, second_amount: 50 }"
        [value]="car_data.engine.combustion.power"
        [minValue]="0"
        [title]="'Moc [KM]'"
        (valueChange)="handleInputChange('power', $event)"
    />
    <number-input
        [type]="'buttons'"
        [show_fast_btns]="true"
        [fast_btns_settings]="{ first_amount: 10, second_amount: 50 }"
        [minValue]="0"
        [value]="car_data.engine.combustion.torque"
        [title]="'Moment obrotowy [NM]'"
        (valueChange)="handleInputChange('torque', $event)"
    />
</div>
