div.PAGE {
    gap: 2.5vw;
    justify-content: flex-start;

    p.APP_WAS_UPDATED_TEXT {
        font-size: 1.35rem;
        font-weight: 700;
        text-align: center;
        width: 89vw;
    }
}