<div [@component]="view_mode" class="COMPONENT">
    <p>Wyliczenia spalania opierają się na wyliczeniu stosunku spalania auta twojego do auta symulowanego. W tym celu potrzeba jest podana średniego spalania twojego auta.</p>
    <counter class="COUNTER" [title]="'Śr. zużycie paliwa'" [value]="avg_fuel_usage" [minValue]="0" (changedValue)="handleCounterChange($event)"/>
    <button (click)="saveConfig()" class="SAVE">
        @if (data_fetching) {
            <loader [size]="loader_size" [white_border]="true"/>
        } @else {
            ZAPISZ
        }
    </button>
</div>