<div class="PAGE">
    <title-bar (click)="APP.navigate('settings')" [title_content]="'Lista marek'" [title_mode]="'SMALL'"/>
    <btn (click)="APP.navigate('newCarBrand')" [btn_type]="'accent'" [border_radius_in_vw]="btn_dimensions.border_radius" [height_in_vw]="btn_dimensions.height" [width_in_vw]="btn_dimensions.width"> 
        <img class="PLUS_IMAGE" src="/assets/UI/plus/white.webp">
        Nowa marka
    </btn>
    <div class="LIST">
        @for (brand of brands; track brand.id) {
            <scroll-able-bar style="width: 100%; height: 20vw;" [first_option]="scroll_abl_option[0]" [first_option_return_value]="brand.id" (first_option_pressed)="handleEditRequest($event)" [second_option_return_value]="brand.id" (second_option_pressed)="handleDeleteRequest($event)" [second_option]="scroll_abl_option[1]">
                <brand-list-item style="width: 100%;" [car_brand]="brand" [dark_mode_bool]="dark_mode"/>
            </scroll-able-bar>
        }
    </div>
</div>