<div class="PAGE">
    <title-bar [title_content]="'Ustawienia'" [title_mode]="'BIG'"/>
    <div class="LIST">
        <btn (click)="APP.navigate('aboutApp')" [height_in_vw]="btn_dimenstion.height" [width_in_vw]="btn_dimenstion.width" [border_radius_in_vw]="btn_dimenstion.border_radius">
            O aplikacji
        </btn>
        <btn [height_in_vw]="btn_dimenstion.height" [width_in_vw]="btn_dimenstion.width" [border_radius_in_vw]="btn_dimenstion.border_radius">
            Lista marek
        </btn>
        <btn [height_in_vw]="btn_dimenstion.height" [width_in_vw]="btn_dimenstion.width" [border_radius_in_vw]="btn_dimenstion.border_radius">
            Zarządzanie danymi aplikacji
        </btn>
    </div>
    <fuel-config-edit />
</div>