div.PAGE {
    justify-content: flex-start;
    gap: 2.5vw;

    div.ROUTES_LIST {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 89vw;
        padding-bottom: 35vw;

        div.ROUTE_DATE {
            width: 100%;
            text-align: left;
            font-size: 1.25rem;
            font-weight: 600;
        }
    
        route-list-item {
            width: 100%;
        }
    
        p.EMPTY_ROUTES {
            width: 100%;
            font-size: 1.5rem;
            font-weight: 600;
        }

        btn {
            margin-block: 2.5vw;
        }
    }

    
}