div.PAGE {
    gap: 5vw;

    img.APP_LOGO {
        width: 50.89vw;
        object-fit: contain;
        content: url('/assets/UI/car/car.webp');
    }

    p.APP_TITLE {
        font-size: 3rem;
        font-weight: 800;
    }

    p.BETA_TEXT {
        font-size: 2rem;
        font-weight: 700;
        color: var(--default-accent-color);
    }

    p.BETA_BUILD_TEXT,
    p.APP_VERSION {
        font-size: 1.25rem;
        font-weight: 500;
        position: absolute;
        bottom: 8.9vw;
    }

    p.BETA_BUILD_TEXT {
        color: var(--default-accent-color);
    }
}