<div class="EDITOR">
    <p class="TITLE">Edycja trasy</p>
    @if (car_type === 'Hybrid') {    
        <route-type-switch [value]="route_type_ratio" (routeTypeRatio)="handleInput('route_type', $event)"/>
    }
    <date-picker [title]="'Data trasy'" [value]="route_to_edit?.date!" (valueChange)="handleInput('date', $event)" />
    <number-input [title]="'Dystans'" [minValue]="0" [value]="route_to_edit?.distance!" [type]="'buttons'" [show_fast_btns]="true" [fast_btns_settings]="{first_amount: 5, second_amount: 25}" (valueChange)="handleInput('distance', $event)" />
    <number-input [title]="'Śr. zużycie'" [minValue]="0" [value]="route_to_edit?.original_avg_fuel_usage!" [precision]="1" [type]="'buttons'" [show_fast_btns]="true" [fast_btns_settings]="{first_amount: 0.5, second_amount: 2.5}" (valueChange)="handleInput('avg_usage', $event)" />
    <div class="AFFECT_CAR">
        <input type="checkbox" (change)="affectionOfCarState($event)">
        <p>Zaktulizuj stan energetyczny o te trase</p>
    </div>
    <div class="BTNs">
        <button (click)="cancelEdit()">ANULUJ</button>
        <button (click)="saveEdit()">ZAPISZ</button>
    </div>
</div>