div.NUMBER_BUTTONS_INPUT {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p.TITLE {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: left;
        width: 95%;
    }

    div.INPUT_BOX {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;

        p.VALUE {
            font-size: 3.5rem;
            font-weight: 700;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div.CHANGE_BUTTONS {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 45%;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--app-elements-bg);
                border-radius: 2.5vw;

                svg {
                    width: 45%;
                    height: 80%;

                    path {
                        fill: var(--font-color);
                    }
                }
            }
        }

        input[type='number'] {
            width: 90%;
            height: 75%;
            border: .5vw solid var(--font-color);
            border-radius: 2.5vw;
        }

    }

    div.FST_BTNS {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background-color: var(--app-elements-bg);
            border-radius: 1.25vw;
            width: 20%;
            font-size: 1.25rem;
            font-weight: 700;
            padding-block: 1.25vw;
        }
    }
}

div.NUMBER_TYPED_IN {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p.TITLE {
        font-size: 1.25rem;
        width: 85%;
        text-align: left;
        position: relative;
        top: 40%;
        transition: 0.2s ease-out;
        color: var(--app-elements-bg);

        &.ACTIVE {
            top: 0;
            width: 95%;
            font-weight: 700;
            color: var(--font-color);
        }
    }

    input {
        width: 85%;
        height: 80%;
        padding-inline: 5%;
        border: 0.5vw solid var(--app-elements-bg);
        border-radius: 2.5vw;
        position: relative;
        bottom: 12.5%;
        font-size: 1.25rem;
        font-weight: 600;

        &.ACTIVE {
            bottom: 0;
            border-color: var(--font-color);
        }
    }
}
