<div class="COMPONENT">
    <select-input [title]="'Marka'" [select_list]="brands" [show_empty_opt]="false" [input_selected_item]="choosed_brand_index" (selected_item)="handleInputChange('car_brand', $event)"/>
    <text-input [title]="'Model'" [value]="car_data.model" (valueChange)="handleInputChange('model_name', $event)"/>
    <color-picker [title]="'Kolor główny'" [value]="car_data.color.theme" (valueChange)="handleInputChange('color_theme', $event)"/>
    <color-picker [title]="'Kolor akcentowy'" [value]="car_data.color.accent" (valueChange)="handleInputChange('color_accent', $event)" />
    <number-input [title]="'Aktualny przebieg'" [type]="'typed-in'" [value]="actual_mileage" (valueChange)="handleInputChange('actual_mileage', $event)"/>
    <date-picker [title]="'Koniec przeglądu'" [value]="car_data.tech_review_ends" (valueChange)="handleInputChange('end_review', $event)" />
    <number-input [title]="'Przebieg przy przeglądzie'" [type]="'typed-in'" [value]="mileage_at_review" (valueChange)="handleInputChange('mileage_at_review', $event)"/>
    <text-input [title]="'Ubezpieczyciel'" [value]="car_data.insurance.name" (valueChange)="handleInputChange('ins_comp_name', $event)"/>
    <date-picker [title]="'Początek ubezpieczenia'" [value]="car_data.insurance.startDate" (valueChange)="handleInputChange('ins_start_date', $event)" />
    <date-picker [title]="'Koniec ubezpieczenia'" [value]="car_data.insurance.endsDate" (valueChange)="handleInputChange('ins_end_date', $event)" />
    <ins-opt-picker [ins_opt]="ins_opts" (ins_opt_change)="handleInputChange('ins_opt', $event)"/>
    <select-input [title]="'Auto jest'" [show_empty_opt]="false" [select_list]="car_types" [input_selected_item]="select_car_type_index" (selected_item)="handleInputChange('car_type', $event)"/>
    @if(car_data.type === 'Hybrid' || car_data.type === 'Combustion') {
        <combustion-engine-credentials />
    }
    @if (car_data.type === 'Hybrid' || car_data.type === 'Electric') {
        <electric-engine-credentials />
    }
    <p class="TITLE">Skrzynia biegów</p>
    <select-input [title]="'Rodzaj skrzynii'" [show_empty_opt]="false" [select_list]="gearbox_types" [input_selected_item]="select_gearbox_type_index" (selected_item)="handleInputChange('gearbox_type', $event)"/>
    <number-input [title]="'Ilość biegów'" [value]="car_data.gearbox.gearsAmount" [minValue]="0" [type]="'buttons'" (valueChange)="handleInputChange('gearbox_gears_amount', $event)"/>
    <select-input [title]="'Napęd'" [show_empty_opt]="false" [select_list]="drive_types" [input_selected_item]="select_drive_type_index" (selected_item)="handleInputChange('drive_type', $event)"/>
    <btn (click)="saveCar()" style="margin-bottom: 20vh; margin-top: 5vh;" [border_radius_in_vw]="2.5" [btn_type]="'accent'" [height_in_vw]="12.5" [width_in_vw]="89">
        @if (data_fetching) {
            <loader [size]="20" [white_border]="true" />
        } @else {
            ZAPISZ
        }
    </btn>
</div>