div.PAGE {

    title-bar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    p.WELCOME {
        font-size: 3rem;
        font-weight: 800;
        position: absolute;
        top: 2.5vh;
    }

    import-backup,
    choose-option,
    fresh-start {
        width: 89vw;
    }
}